<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" name="semaphoreci-selenium-lambdatest">
        <classes>
            <class name="org.lambdatest.SeleniumTest">
            </class>
        </classes>
    </test>
</suite>